body {
  margin: 0;
  font-family: Hellix;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Hellix';
  src: local('Hellix'), url(./fonts/Hellix-Regular.ttf) format('truetype');
}
